/* src/features/welcome/welcome.css */

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - (2 * var(--page-vertical-padding))); /* Учитываем высоту хедера и отступы */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-bg-primary);
  color: var(--color-text-default);
}

.welcome-content {
  max-width: 600px; /* Можно настроить */
  width: 100%;
  padding: 10px;
  background-color: var(--color-bg-secondary);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; /* Отступ между изображением и кнопкой */
}

.welcome-image {
  max-width: 100%; /* Максимальная ширина изображения относительно .welcome-content */
  height: auto;   /* Сохраняем пропорции */
  border-radius: 8px; /* Небольшое скругление углов для изображения */
}

.login-button.button-primary {
  background-color: #262421;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
  padding: 12px 10px;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  min-width: 200px;
}

.login-button.button-primary:hover:not(:disabled) {
  background-color: #FF0496; /* Darker success */
  border-color: #FF0496;
  color: #ffffff;
  transform: translateY(-1px);
}

.login-button.button-primary:active:not(:disabled) {
  transform: translateY(0px);
}

.login-button.button-primary:disabled {
  background-color: var(--color-bg-tertiary);
  border-color: var(--color-border);
  color: var(--color-text-muted);
  cursor: not-allowed;
  opacity: 0.7;
}

.error-message {
  color: var(--color-accent-error);
  background-color: rgba(204, 52, 50, 0.1);
  border: 1px solid var(--color-accent-error);
  padding: 10px;
  border-radius: 4px;
  /* margin-bottom: 20px; Убрано, так как отступы теперь через gap */
  font-size: 0.9em;
  width: 100%; /* Чтобы сообщение об ошибке занимало доступную ширину */
  box-sizing: border-box;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .welcome-content {
    padding: 20px;
    gap: 20px;
  }
  .welcome-image {
    max-width: 90%;
  }
  .login-button.button-primary {
    padding: 10px 20px;
    font-size: 1em;
  }
}
